{% include "nav(logged).html" %}


<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}">
<body>
  <h1>Diabates Prediction</h1>

  <!-- Main Input For Receiving Query to our ML -->
  <div class="w3-container">
    <form action="{{ url_for('views.diabetes')}}" method="post">
      <input type="number" class="w3-input" name="Pregnancies" placeholder="Pregnancies" required="required" />
      <input type="number" class="w3-input" name="Glucose" placeholder="Glucose Level" required="required" />
      <input type="number" class="w3-input" name="BloodPressure" placeholder="Blood Pressure Level" required="required" />
      <input type="number" class="w3-input" name="SkinThickness" placeholder="Skin Thickness" required="required" />
      <input type="number" class="w3-input" name="Insulin" placeholder="Insulin Level" required="required" />
      <input type="number" step="any" class="w3-input" name="BMI" placeholder="Body Mass Index" required="required" />
      <input type="number" step="any" class="w3-input" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function" required="required">
      <input type="number" class="w3-input" name="Age" placeholder="Enter Age" required="required"><br>
      <button type="submit" class="w3-border-red w3-round-large w3-center w3-indigo w3-button w3-btn w3-animate-bottom">Predict</button>
    </form>
  </div>

  <br>
  <div class="container w3-number-white">
    <h3>Output</h3>
    <br>
    <h2>
      {{ prediction_text }}<br>
    </h2>
    <br>
  </div>
</body>
<script>
  $(document).ready(function () {
    $('#dtDynamicVerticalScrollExample').DataTable({
      "scrollY": "50vh",
      "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
</head>