{% include 'nav(logged).html' %}

<table style="border:1px solid black;
width: 100%;">
    <tr>
    <th>Date</th>
    <th>Pregnancies</th>
    <th>Glucose</th>
    <th>Blood Pressure</th>
    <th>Skin Thickness</th>
    <th>Insulin</th>
    <th>BMI</th>
    <th>DPF</th>
    <th>Age</th>
    <th>Outcome</th>
    </tr>
    {% for diabetes in user.diabetes %}
    <tr>
        <td>{{ diabetes.date }}</td>
        <td>{{ diabetes.pregnancies }}</td>
        <td>{{ diabetes.glucose }}</td>
        <td>{{ diabetes.bloodpressure }}</td>
        <td>{{ diabetes.skinthichness }}</td>
        <td>{{ diabetes.insulin }}</td>
        <td>{{ diabetes.bmi }}</td>
        <td>{{ diabetes.dpf }}</td>
        <td>{{ diabetes.age }}</td>
        <td>{{ diabetes.outcome }}</td>
    </tr>  
        {% endfor %}
</table>