{% include "nav(logged).html" %}


<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}">

<body>
    <h1>Heart Prediction</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <div class="w3-container">
        <form action="{{ url_for('views.heart') }}" method="POST">

            <label class="w3-text-white" for="age">Age : </label>
            <input class="w3-input" type="number"  id="age" name="age">
            <br>

            <label class="w3-text-white" for="sex">Sex : </label>
            <select name="sex" id="sex" class="w3-select">
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
            <br>
            <br>
            <label class="w3-text-white" for="chest pain type">Chest pain type : </label>
            <input class="w3-input" type="number" required="required" id="cp" name="cp">
            <br>

            <label class="w3-text-white" or="resting blood pressure">Resting Blood Pressure : </label>
            <input class="w3-input" type="number" required="required" id="trestbps" name="trestbps">
            <br>

            <label class="w3-text-white" for="serum cholestoral in mg/dl">Serum cholestoral in mg/dl : </label>
            <input class="w3-input" type="number" required="required" id="chol" name="chol">
            <br>

            <label class="w3-text-white" for="fasting blood pressure">Fasting Blood Pressure : </label>
            <input class="w3-input" type="number" required="required" id="fbs" name="fbs">
            <br>

            <label class="w3-text-white" for="restecg">Resting Electrocardiographic Result : </label>
            <input class="w3-input" type="number" required="required" id="restecg" name="restecg">
            <br>

            <label class="w3-text-white" for="thalach">Maximum Heart Rate Achieved : </label>
            <input class="w3-input" type="number" required="required" id="thalach" name="thalach">
            <br>

            <label class="w3-text-white" for="exang">Exercise Induced Angina : </label>
            <input class="w3-input" type="number" required="required" id="exang" name="exang">
            <br>

            <label class="w3-text-white" for="oldpeak">Oldpeak : </label>
            <input class="w3-input" type="number" step="any" id="oldpeak" name="oldpeak" required="required">
            <br>

            <label class="w3-text-white" for="slope">Slope of Peak: </label>
            <input class="w3-input" type="number" required="required" id="slope" name="slope">
            <br>

            <label class="w3-text-white" for="ca">Number of Major Vessels : </label>
            <input class="w3-input" type="number" required="required" id="ca" name="ca">
            <br>

            <label class="w3-text-white" for="thal">Thal : </label>
            <input class="w3-input" type="number" required="required" id="thal" name="thal">
            <br>
            <input class="w3-border-red w3-round-large w3-center w3-indigo w3-button w3-btn w3-animate-bottom"
                type="submit" value="Predict"><br><br>
    </div>
    </form>
    </div>

    <br>
    <div class="container w3-text-white">
        <h3>Output</h3>
        <br>
        <h2>
            {{ prediction_text }}<br>
        </h2>
        <br>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#dtDynamicVerticalScrollExample').DataTable({
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
</head>