{% include "nav(logged).html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger after-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close float-right" area-label="Close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}">

<body>
  
</body>