{% include "nav(logged).html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger after-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" area-label="Close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/blue.css') }}"> -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- //cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <!-- <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> -->
    <title>Document</title>
</head>

<body>
      <div class="container text-bg-warning my-2">
        <h1 style="text-align: center;">What is HDS?</h1>
      </div>
      <div class="container">
        <div class="row  justify-content-center">
            <div class="col-md-9 col-sm-9" style="text-align: justify;">
              The project “Health Discernment System” has vast scope, with the development and continues evolving 
              of technology this project will be able to handle most of the chronic diseases. <br><br>
              This system will aid in the efficient detection of medical diagnostic data and will shorten the time
               required to prevent the last-minute rush. In this system, I will build a user-friendly interference 
               so that even a user who is unfamiliar with the disease may use it and obtain their result, i.e. the 
               result being positive or normal when detecting the sickness. This approach will save the patient a 
               lot of time since they will not have to go to their doctor to have the results validated. They can 
               receive the results whenever and wherever they choose.    
            </div>
            <div class="col-md-3 col-sm-3">
              <img src="{{ url_for('static', filename='css/Black Simple Monoline Real Estate Service Logo.png') }}" height="250" alt="Logo">
            </div>
        </div>
      </div>
      <!-- --------------- VERY IMPORTANT ----------- -->
      <!-- <div class="container text-bg-danger my-4">
        <h1 style="text-align: center;">Your History</h1>
      </div>
    <div class="container my-4">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Probability</th>
                    <th scope="col">Need Report?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">S.No.</th>
                    <td>Shibli</td>
                    <td>20-04-23</td>
                    <td>Amar hai ham</td>
                    <td>0</td>
                    <td>Ghanta</td>
                </tr>
            </tbody>
        </table>
    </div> -->
    
    <div class="container my-4">
        <div class="container text-bg-danger my-4">
            <h1 style="text-align: center;">About the values to input</h1>
          </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Diabetes
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align:justify;">
                  <strong>Pregnancies: </strong>This refers to the number of times the patient has been pregnant.<br>
                  <strong>Glucose Level: </strong>This is the patient's plasma glucose concentration measured two hours after an oral glucose tolerance test. Elevated glucose levels may indicate diabetes.<br>
                  <strong>Blood Pressure Level: </strong>This is the patient's diastolic blood pressure. High blood pressure can be a risk factor for diabetes.<br>
                  <strong>Skin Thickness: </strong>This is the thickness of the skin on the triceps, measured in millimeters. Increased skin thickness may be associated with insulin resistance, which is a key factor in the development of type 2 diabetes.<br>
                  <strong>Insulin Level: </strong>This is the patient's 2-hour serum insulin level. Elevated insulin levels may indicate insulin resistance, which is a risk factor for diabetes.<br>
                  <strong>Body Mass Index: </strong>This is the patient's body mass index, calculated as weight in kilograms divided by height in meters squared. High BMI is a risk factor for diabetes.<br>
                  <strong>Diabetes Pedigree Function: </strong> This is a measure of the patient's family history of diabetes.<br>
                  <strong>Age: </strong>This is the patient's age in years. As age increases, the risk of developing diabetes also increases.<br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Heart Disease
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body" style="text-align:justify;">
                  <strong>Age: </strong>This refers to the patient's age in years. Age is a risk factor for heart disease, as the risk of developing heart disease increases with age.<br>
                  <strong>Sex: </strong>This refers to the patient's biological sex. Men are generally at higher risk for heart disease than women, although the risk for women increases after menopause.<br>
                  <strong>Chest Pain Type: </strong> This refers to the type of chest pain or discomfort experienced by the patient. There are four values for chest pain type, each corresponding to a different type of chest pain or discomfort. This variable can provide insight into the underlying cause of the patient's symptoms and can help guide diagnosis and treatment.<br>
                  <strong>Resting Blood Pressure: </strong>This refers to the patient's blood pressure when they are at rest. High blood pressure is a risk factor for heart disease.<br>
                  <strong>Serum cholesterol: </strong>This is the patient's serum cholesterol level, measured in milligrams per deciliter (mg/dL). High cholesterol is a risk factor for heart disease.<br>
                  <strong>Fasting Blood Sugar: </strong>This indicates whether the patient has a fasting blood sugar level above 120 mg/dL, which may indicate diabetes or pre-diabetes. Diabetes is a risk factor for heart disease.<br>
                  <strong>Resting Electrocardiographic Result: </strong><br>
                  <strong>Maximum Heart Rate Achieved: </strong>This refers to the highest heart rate achieved by the patient during a stress test. This variable can provide insight into the patient's cardiovascular fitness and can help guide diagnosis and treatment.<br>
                  <strong>Exercise Induced Angina: </strong>This indicates whether the patient experienced chest pain or discomfort during a stress test. This can be a sign of underlying heart disease.<br>
                  <strong>Oldpeak: </strong> This variable measures the amount of ST segment depression on the patient's ECG during a stress test. ST depression can be a sign of underlying heart disease.<br>
                  <strong>Slope of Peak: </strong> This variable describes the shape of the ST segment on the patient's ECG during a stress test. The slope of the ST segment can provide additional information about the underlying heart condition.<br>
                  <strong>Number of Major Vessels: </strong>This refers to the number of major blood vessels in the heart that appear to be blocked or narrowed on a fluoroscopy image. This variable can provide insight into the extent of the patient's heart disease.<br>
                  <strong>Thal: </strong>This variable describes the patient's thallium stress test results, which measure blood flow to the heart during exercise. There are three values for this variable, each corresponding to a different result on the thallium stress test. This variable can provide additional information about the underlying heart condition.<br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Liver Disease
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Breast Cancer Disease
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFIve">
                  Malaria
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Pneumonia
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="card text-center">
        <div class="card-footer text-body-secondary">
            <a href="https://github.com/exc33ded" target="_blank" style="text-decoration:none; color:black ">Mohammed Sarim</a>
          </div>
      </div>
</body>

</html>