<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/w3.css') }}">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <style>
    #lefty{
        text-align: left;
    }
   </style>
</head>

<body>
    <div class="body">
        <header>
            <!-- <img src="{{ url_for('static', filename='css/hds.png') }}" alt="" class="banner"> -->
            <!-- <a href="#" class="logo">HDS</a> -->
            <!-- <div class="toggle"></div> -->
            <nav class="w3-bar w3-black">
                    <a href="" class='w3-bar-item w3-button w3-padding-24 w3-left w3-xlarge'>HDS</a>
                    <a href="{{url_for('auth.sign_up')}}" class='w3-bar-item w3-button w3-right w3-xlarge w3-padding-24'>Register</a>
                    <a href="{{url_for('auth.login')}}" class='w3-bar-item w3-button w3-right w3-padding-24 w3-xlarge'>Login</a>
                    <a href="{{url_for('auth.main')}}" class='w3-bar-item w3-button w3-right w3-padding-24 w3-xlarge'>Home</a>
            </nav>
        </header>
       <script>
            window.addEventListener("scroll", function () {
                const header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });
            const navigation = document.querySelector('nav');
            document.querySelector('.toggle').onclick = function () {
                this.classList.toggle('active');
                navigation.classList.toggle('active');
            }
        </script> 
    </div>
</body>

</html>